.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.idea/
.vscode/
.DS_Store
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.*.swp
.env
.env.*.local
.venv/
.pytest_cache/
__pycache__/
*.pyc
.mypy_cache/
.coverage
htmlcov/
.ropeproject
.pytest_cache/
.coverage.*
coverage.xml
.hypothesis/
*.pem