node_modules/*
.next/*
.DS_Store
*.log
.env
.vscode
.idea
*.iml
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db
*.egg-info/
dist/
build/
coverage/
*.coverage
htmlcov/